body {
    background: #448;
    font-family: Verdana, Sans-Serif, sans;
    font-size: 13px;
    line-height: 150%;
}

.picmargin {
    margin-left: 250px;
}

.center {
	text-align: center;
}

img {
   border: 1px solid black;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: #114477;
}
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #114477;
}
a:hover, a:active {
    text-decoration: underline;
    color: #81d000;
}
h1 {
    font-size: 22px;
    text-align: center;
}
h2 {
    font-size: 17px;
    text-align: left;
    /*text-decoration: underline;*/
}

h3 {
    font-size: 13px;
    text-align: left;
    color: #444;
}

.preface {
	font-weight: bold;
	font-style: italic;
}

.key {
	display: inline;
	border-width: 0.2em;
	border-style: solid;
	border-color: #ddd #bbb #bbb #ddd;
	background-color: #eee;
	padding: 0.1em 0.4em;
	font-size: 0.8em;
	white-space: pre;
}

/*blockquote {
    font-family: "Courier", serif;
    font-size: 8pt;
    background: #ececfc;
    padding-left: 5px;
    padding-right: 5px;	
}*/

/* page */
#sitebox {
    width: 800px;
    /* FIXME: this is not CSS valid */
    float: center;
    margin: 0 auto;
    border: 4px solid black;
    background: #f0f0f0;
    padding: 0;
}
/* banner */
#title {
    height: 80px;
    padding-left: 65px;
    /*background-image: url("./imgs/title.png");
    background-repeat:no-repeat;
    background-position: center;
    background: #81d000;*/
    border-bottom: 3px solid black;
}

#menu {
    width: 135px;
    float: left;
    padding: 5px;
    margin-top: -10px;
}

#menu h2 {
    padding-top: 10px;
    margin:0;
    font-size: 12px;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu li {
    font-weight: bold;
    text-decoration: none;
    color: #777;
    list-style-type: none;
    margin-bottom: 3px;
}
#menu li a {
    margin-left: 7px;
}
/*
#menu li a:hover {
    text-decoration: underline;
}
*/
#menu li.selected a { 
    color: black;
    text-decoration: underline;
}

#main {
    margin-left: 145px;
    min-height:400px;
    margin-bottom: 0px;
    padding: 5px;
    border-left: 3px solid #000;
    background: #fff url("imgs/intro.png") no-repeat right bottom;
}
